{% extends "base.html" %}
{% block meta_desc %}
Discover what's trending on YouTube worldwide! Visit our homepage to explore the latest trends in various countries. From viral videos to trending topics, our curated list showcases the most popular content on YouTube. stay informed about hottest videos from around the globe!
{% endblock meta_desc %}
{% block main_content %}
<div class="max-w-6xl md:mx-24 mx-1">
    <h2 class="flex flex-row flex-nowrap items-center mt-8">
        <span class="flex-grow block border-t border-black"></span>
        <span class="flex-wrap block mx-4 px-4 py-2.5 text-xl rounded leading-none font-medium bg-transparent text-white">
            Explore the latest YouTube Trends in following countries
        </span>
        <span class="flex-grow block border-t border-black"></span>
    </h2>
    <div class="country-list flex flex-wrap gap-4 p-6 justify-center text-lg font-bold">
        {% for cc, cn in countries.items %}
        <a href="{% url "Trendbycountry_detail" cc=cc|slugify %}"
            class="bg-gray-100 flex-grow text-black border-l-8 border-violet-500 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12">
            {{cn}}
    
            {% comment %} <div class="text-gray-500 font-thin text-sm pt-1">
                <span>Topics: 63</span>
                <span>MCQs: 20697</span>
            </div> {% endcomment %}
        </a>
        {% endfor %}
    </div>
</div>

<script>
    const searchInput = document.getElementById('searchInput');
const items = document.querySelectorAll('.country-list a');

searchInput.addEventListener('input', function() {
    const searchTerm = this.value.toLowerCase();

    items.forEach(item => {
        const countryName = item.textContent.toLowerCase();
        if (countryName.includes(searchTerm)) {
            item.style.display = 'block';
        } else {
            item.style.display = 'none';
        }
    });
});

</script>
{% endblock main_content %}