{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock title %} | YTrends</title>
    <meta name="description" content="{% block meta_desc %}{% endblock meta_desc %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    {% tailwind_css %}
</head>
<body>
    {% include "layouts/header.html" %}
    {% block main_content %}{% endblock main_content %}
    {% include "layouts/footer.html" %}
</body>
</html>