{% extends "base.html" %}

{% block title %}Suggest a feature{% endblock title %}

{% block meta_desc %}Suggest a new feature to improve YTrends. I would love to hear your feedback{% endblock meta_desc %}

{% block main_content %}

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">Have a feedback?</h1>
  
      <p class="mt-4 text-gray-500">
        Fill out the form and let me get back to you
      </p>
    </div>
  
    <form id="my-form" action="https://formspree.io/f/xwkgzgvd" method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      <div>
        <label for="name" class="sr-only">Name</label>
  
        <div class="relative">
          <input
            type="text"
            name="name"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Your Name"
          />
  
          <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              />
            </svg>
          </span>
        </div>
      </div>

      <div>
        <input type="email" name="email" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Your email">
      </div>
  
      <div>
        <label for="suggestion" class="sr-only">Suggestion</label>
  
        <div class="relative">
            <textarea placeholder="Your Suggestion" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" name="suggestion" id="suggestion"></textarea>
          
        </div>
      </div>
      <div class="flex items-center justify-between">  
        <button
          type="submit"
          class="w-full rounded-lg bg-purple-700 px-5 py-3 text-sm font-medium text-white"
          id="my-form-button"
        >
          Send
        </button>
      </div>
      <p id="my-form-status"></p>

    </form>
  </div>

  <script>
    var form = document.getElementById("my-form");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission! I'll get back to you asap.";
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
  </script>

{% endblock main_content %}